/*! Copyright (C) Microsoft Corporation. All rights reserved. *//*!
------------------------------------------- START OF THIRD PARTY NOTICE -----------------------------------------

This file is based on or incorporates material from the projects listed below (Third Party IP). The original copyright notice and the license under which Microsoft received such Third Party IP, are set forth below. Such licenses and notices are provided for informational purposes only. Microsoft licenses the Third Party IP to you under the licensing terms for the Microsoft product. Microsoft reserves all other rights not expressly granted under this agreement, whether by implication, estoppel or otherwise. 

//-----------------------------------------------------------------------------
twbs-bootstrap-sass (3.3.0)
//-----------------------------------------------------------------------------

The MIT License (MIT)

Copyright (c) 2013 Twitter, Inc

Permission is hereby granted, free of charge, to any person obtaining a copy
of this software and associated documentation files (the "Software"), to deal
in the Software without restriction, including without limitation the rights
to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
copies of the Software, and to permit persons to whom the Software is
furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in
all copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
THE SOFTWARE.

//-----------------------------------------------------------------------------
necolas-normalize.css (3.0.2)
//-----------------------------------------------------------------------------
! normalize.css v3.0.2 | MIT License | git.io/normalize

Copyright (c) Nicolas Gallagher and Jonathan Neal

Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.

Provided for Informational Purposes Only
MIT License 
Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the Software), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions: 
The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF 
MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND 
NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE 
LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION 
OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION 
WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
*//*! normalize.css v3.0.2 | MIT License | git.io/normalize */html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}section{display:block}a{background-color:transparent}a:active,a:hover{outline:0}b,strong{font-weight:bold}img{border:0}pre{overflow:auto;font-family:monospace,monospace;font-size:1em}button,input,optgroup,select{color:inherit;font:inherit;margin:0}button{overflow:visible}button,select{text-transform:none}button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer}button[disabled],html input[disabled]{cursor:default}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}input{line-height:normal}input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0}input[type="number"]::-webkit-inner-spin-button,input[type="number"]::-webkit-outer-spin-button{height:auto}input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:.35em .625em .75em}*{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}*:before,*:after{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}input,button,select,textarea{font-family:inherit;font-size:inherit;line-height:inherit}a:focus{outline:thin dotted;outline:5px auto -webkit-focus-ring-color;outline-offset:-2px}img{vertical-align:middle}html{font-size:100%}body{font-family:"Segoe UI Webfont","Helvetica Neue","Lucida Grande","Roboto","Ebrima","Nirmala UI","Gadugi","Segoe Xbox Symbol","Segoe UI Symbol","Meiryo UI","Khmer UI","Tunga","Lao UI","Raavi","Iskoola Pota","Latha","Leelawadee","Microsoft YaHei UI","Microsoft JhengHei UI","Malgun Gothic","Estrangelo Edessa","Microsoft Himalaya","Microsoft New Tai Lue","Microsoft PhagsPa","Microsoft Tai Le","Microsoft Yi Baiti","Mongolian Baiti","MV Boli","Myanmar Text","Cambria Math";font-size:15px;line-height:20px;font-weight:400;font-size:.9375rem;line-height:1.25rem;padding-bottom:.227px;padding-top:.227px;color:#000;background-color:#fff}a{color:#ccc;text-decoration:none}a:link{color:#0078d7}a:visited{color:#0078d7}a:hover{color:#666}a:focus{color:#0078d7}a:active{color:#999}.text-center{text-align:center}.text-justify{text-align:justify}.text-nowrap{white-space:nowrap}.text-lowercase{text-transform:lowercase}.text-uppercase{text-transform:uppercase}.text-capitalize{text-transform:capitalize}ul,ol{margin-top:0;margin-bottom:10px}ul ul,ul ol,ol ul,ol ol{margin-bottom:0}@font-face{font-family:'Segoe UI Webfont';src:local("Segoe UI Light");font-weight:200;font-style:normal}@font-face{font-family:'Segoe UI Webfont';src:local("Segoe UI");font-weight:400;font-style:normal}@font-face{font-family:'Segoe UI Webfont';src:local("Segoe UI Semibold");font-weight:600;font-style:normal}h1,h2,h3,h4,h5,h6,.text-headline,.text-header,.text-subheader,.text-title,.text-subtitle,.text-body,.text-base,.text-caption,p{margin-bottom:20px;margin-top:20px;margin-bottom:1.25rem;margin-top:1.25rem}.text-subheader,h2{font-size:34px;line-height:40px;font-weight:200;font-size:2.125rem;line-height:2.5rem;padding-bottom:3.1812px;padding-top:3.1812px}.text-subheader.text-maxlines-1,h2.text-maxlines-1{white-space:nowrap;text-overflow:ellipsis;max-height:46.3624px;max-height:2.89765rem}.text-subheader.text-maxlines-2,h2.text-maxlines-2{max-height:86.3624px;max-height:5.39765rem}.text-subheader.text-maxlines-3,h2.text-maxlines-3{max-height:126.3624px;max-height:7.89765rem}.text-subheader.text-maxlines-4,h2.text-maxlines-4{max-height:166.3624px;max-height:10.39765rem}.text-title,h3{font-size:24px;line-height:28px;font-weight:300;font-size:1.5rem;line-height:1.75rem;padding-bottom:2.3632px;padding-top:2.3632px}.text-title.text-maxlines-1,h3.text-maxlines-1{white-space:nowrap;text-overflow:ellipsis;max-height:32.7264px;max-height:2.0454rem}.text-title.text-maxlines-2,h3.text-maxlines-2{max-height:60.7264px;max-height:3.7954rem}.text-title.text-maxlines-3,h3.text-maxlines-3{max-height:88.7264px;max-height:5.5454rem}.text-title.text-maxlines-4,h3.text-maxlines-4{max-height:116.7264px;max-height:7.2954rem}.text-subtitle,h4{font-size:20px;line-height:24px;font-weight:400;font-size:1.25rem;line-height:1.5rem;padding-bottom:1.636px;padding-top:1.636px}.text-subtitle.text-maxlines-1,h4.text-maxlines-1{white-space:nowrap;text-overflow:ellipsis;max-height:27.272px;max-height:1.7045rem}.text-subtitle.text-maxlines-2,h4.text-maxlines-2{max-height:51.272px;max-height:3.2045rem}.text-subtitle.text-maxlines-3,h4.text-maxlines-3{max-height:75.272px;max-height:4.7045rem}.text-subtitle.text-maxlines-4,h4.text-maxlines-4{max-height:99.272px;max-height:6.2045rem}.text-caption,h5{font-size:12px;line-height:14px;font-weight:400;font-size:.75rem;line-height:.875rem;padding-bottom:1.1816px;padding-top:1.1816px}.text-caption.text-maxlines-1,h5.text-maxlines-1{white-space:nowrap;text-overflow:ellipsis;max-height:16.3632px;max-height:1.0227rem}.text-caption.text-maxlines-2,h5.text-maxlines-2{max-height:30.3632px;max-height:1.8977rem}.text-caption.text-maxlines-3,h5.text-maxlines-3{max-height:44.3632px;max-height:2.7727rem}.text-caption.text-maxlines-4,h5.text-maxlines-4{max-height:58.3632px;max-height:3.6477rem}.text-body,p{font-size:15px;line-height:20px;font-weight:400;font-size:.9375rem;line-height:1.25rem;padding-bottom:.227px;padding-top:.227px}.text-body.text-maxlines-1,p.text-maxlines-1{white-space:nowrap;text-overflow:ellipsis;max-height:20.454px;max-height:1.27838rem}.text-body.text-maxlines-2,p.text-maxlines-2{max-height:40.454px;max-height:2.52838rem}.text-body.text-maxlines-3,p.text-maxlines-3{max-height:60.454px;max-height:3.77838rem}.text-body.text-maxlines-4,p.text-maxlines-4{max-height:80.454px;max-height:5.02838rem}.text-base{font-size:15px;line-height:20px;font-weight:600;font-size:.9375rem;line-height:1.25rem;padding-bottom:.227px;padding-top:.227px}.text-base.text-maxlines-1{white-space:nowrap;text-overflow:ellipsis;max-height:20.454px;max-height:1.27838rem}.text-base.text-maxlines-2{max-height:40.454px;max-height:2.52838rem}.text-base.text-maxlines-3{max-height:60.454px;max-height:3.77838rem}.text-base.text-maxlines-4{max-height:80.454px;max-height:5.02838rem}[class*="text-maxlines"]{overflow:hidden}.text-left{text-align:right}.text-right{text-align:left}ul{padding-right:0;list-style:none}ul,ol{margin-top:20px;margin-bottom:20px}ul li,ol li{margin-top:12px;margin-bottom:12px}.container,.container-fluid{margin-right:auto;margin-left:auto;padding-left:2px;padding-right:2px;width:90%}.container:before,.container:after,.container-fluid:before,.container-fluid:after{content:" ";display:table}.container:after,.container-fluid:after{clear:both}.container .container,.container-fluid .container{width:auto}.row{margin-left:-2px;margin-right:-2px}.row:before,.row:after{content:" ";display:table}.row:after{clear:both}.col-xs-1,.col-md-1,.col-xs-2,.col-md-2,.col-xs-3,.col-md-3,.col-xs-4,.col-md-4,.col-xs-5,.col-md-5,.col-xs-6,.col-md-6,.col-xs-7,.col-md-7,.col-xs-8,.col-md-8,.col-xs-9,.col-md-9,.col-xs-10,.col-md-10,.col-xs-11,.col-md-11,.col-xs-12,.col-md-12,.col-xs-13,.col-md-13,.col-xs-14,.col-md-14,.col-xs-15,.col-md-15,.col-xs-16,.col-md-16,.col-xs-17,.col-md-17,.col-xs-18,.col-md-18,.col-xs-19,.col-md-19,.col-xs-20,.col-md-20,.col-xs-21,.col-md-21,.col-xs-22,.col-md-22,.col-xs-23,.col-md-23,.col-xs-24,.col-md-24{position:relative;min-height:1px;padding-left:2px;padding-right:2px}.col-xs-1,.col-xs-2,.col-xs-3,.col-xs-4,.col-xs-5,.col-xs-6,.col-xs-7,.col-xs-8,.col-xs-9,.col-xs-10,.col-xs-11,.col-xs-12,.col-xs-13,.col-xs-14,.col-xs-15,.col-xs-16,.col-xs-17,.col-xs-18,.col-xs-19,.col-xs-20,.col-xs-21,.col-xs-22,.col-xs-23,.col-xs-24{float:right}.col-xs-1{width:4.16667%}.col-xs-2{width:8.33333%}.col-xs-3{width:12.5%}.col-xs-4{width:16.66667%}.col-xs-5{width:20.83333%}.col-xs-6{width:25%}.col-xs-7{width:29.16667%}.col-xs-8{width:33.33333%}.col-xs-9{width:37.5%}.col-xs-10{width:41.66667%}.col-xs-11{width:45.83333%}.col-xs-12{width:50%}.col-xs-13{width:54.16667%}.col-xs-14{width:58.33333%}.col-xs-15{width:62.5%}.col-xs-16{width:66.66667%}.col-xs-17{width:70.83333%}.col-xs-18{width:75%}.col-xs-19{width:79.16667%}.col-xs-20{width:83.33333%}.col-xs-21{width:87.5%}.col-xs-22{width:91.66667%}.col-xs-23{width:95.83333%}.col-xs-24{width:100%}@media (min-width:768px){.col-md-1,.col-md-2,.col-md-3,.col-md-4,.col-md-5,.col-md-6,.col-md-7,.col-md-8,.col-md-9,.col-md-10,.col-md-11,.col-md-12,.col-md-13,.col-md-14,.col-md-15,.col-md-16,.col-md-17,.col-md-18,.col-md-19,.col-md-20,.col-md-21,.col-md-22,.col-md-23,.col-md-24{float:right}.col-md-1{width:4.16667%}.col-md-2{width:8.33333%}.col-md-3{width:12.5%}.col-md-4{width:16.66667%}.col-md-5{width:20.83333%}.col-md-6{width:25%}.col-md-7{width:29.16667%}.col-md-8{width:33.33333%}.col-md-9{width:37.5%}.col-md-10{width:41.66667%}.col-md-11{width:45.83333%}.col-md-12{width:50%}.col-md-13{width:54.16667%}.col-md-14{width:58.33333%}.col-md-15{width:62.5%}.col-md-16{width:66.66667%}.col-md-17{width:70.83333%}.col-md-18{width:75%}.col-md-19{width:79.16667%}.col-md-20{width:83.33333%}.col-md-21{width:87.5%}.col-md-22{width:91.66667%}.col-md-23{width:95.83333%}.col-md-24{width:100%}}fieldset{padding:0;margin:0;border:0;min-width:0}label{display:inline-block;max-width:100%}input[type="radio"]:focus,input[type="checkbox"]:focus{outline:thin dotted;outline:5px auto -webkit-focus-ring-color;outline-offset:-2px}.form-control{display:block;width:100%;background-image:none}input[type="date"]{line-height:34px;line-height:1.42857 \0}.radio,.checkbox{position:relative;display:block}.radio label,.checkbox label{min-height:20px;margin-bottom:0;cursor:pointer}.radio.disabled label,fieldset[disabled] .radio label,.checkbox.disabled label,fieldset[disabled] .checkbox label{cursor:not-allowed}input,button,select,option,progress{max-width:100%;line-height:inherit}input[type="date"],input[type="email"],input[type="number"],input[type="password"],input[type="tel"],input[type="text"]{padding:4px 8px;border-style:solid;border-width:2px;border-color:rgba(0,0,0,0.4);background-color:rgba(255,255,255,0.4);height:32px;height:2rem}input[type="date"]:focus,input[type="email"]:focus,input[type="number"]:focus,input[type="password"]:focus,input[type="tel"]:focus,input[type="text"]:focus{border-color:#0078d7;background-color:#fff}input[type="date"]::-moz-placeholder,input[type="email"]::-moz-placeholder,input[type="number"]::-moz-placeholder,input[type="password"]::-moz-placeholder,input[type="tel"]::-moz-placeholder,input[type="text"]::-moz-placeholder{color:rgba(0,0,0,0.6);opacity:1}input[type="date"]:-ms-input-placeholder,input[type="email"]:-ms-input-placeholder,input[type="number"]:-ms-input-placeholder,input[type="password"]:-ms-input-placeholder,input[type="tel"]:-ms-input-placeholder,input[type="text"]:-ms-input-placeholder{color:rgba(0,0,0,0.6)}input[type="date"]::-webkit-input-placeholder,input[type="email"]::-webkit-input-placeholder,input[type="number"]::-webkit-input-placeholder,input[type="password"]::-webkit-input-placeholder,input[type="tel"]::-webkit-input-placeholder,input[type="text"]::-webkit-input-placeholder{color:rgba(0,0,0,0.6)}input[type="date"][disabled],input[type="date"][readonly],fieldset[disabled] input[type="date"],input[type="email"][disabled],input[type="email"][readonly],fieldset[disabled] input[type="email"],input[type="number"][disabled],input[type="number"][readonly],fieldset[disabled] input[type="number"],input[type="password"][disabled],input[type="password"][readonly],fieldset[disabled] input[type="password"],input[type="tel"][disabled],input[type="tel"][readonly],fieldset[disabled] input[type="tel"],input[type="text"][disabled],input[type="text"][readonly],fieldset[disabled] input[type="text"]{border-color:#ccc !important;background-color:rgba(0,0,0,0.2) !important;color:rgba(0,0,0,0.2) !important}.form-group.has-error input[type="date"],input[type="date"].has-error,.form-group.has-error input[type="email"],input[type="email"].has-error,.form-group.has-error input[type="number"],input[type="number"].has-error,.form-group.has-error input[type="password"],input[type="password"].has-error,.form-group.has-error input[type="tel"],input[type="tel"].has-error,.form-group.has-error input[type="text"],input[type="text"].has-error{border-color:#e81123}input::-ms-clear,input::-ms-reveal{height:100%;padding:4px 8px;margin-left:-8px;margin-right:4px;color:rgba(0,0,0,0.6)}input::-ms-clear:hover,input::-ms-reveal:hover{color:#0078d7}input::-ms-clear:active,input::-ms-reveal:active{color:#fff;background-color:#0078d7}.form-group.has-error input::-ms-clear:hover,.form-group.has-error input::-ms-reveal:hover,input.has-error::-ms-clear:hover,input.has-error::-ms-reveal:hover{color:#e81123}.form-group.has-error input::-ms-clear:active,.form-group.has-error input::-ms-reveal:active,input.has-error::-ms-clear:active,input.has-error::-ms-reveal:active{color:#fff;background-color:#e81123}input[type="radio"]{width:20px;height:20px}input[type="radio"]::-ms-check{background-color:#fff;color:#000;border-style:solid;border-width:2px;border-color:rgba(0,0,0,0.6)}input[type="radio"]:checked::-ms-check{color:#000;border-color:#0078d7}input[type="radio"]:hover::-ms-check{border-color:#000}input[type="radio"]:hover:checked::-ms-check{border-color:#0078d7}input[type="radio"]:active::-ms-check{color:rgba(0,0,0,0.6);border-color:rgba(0,0,0,0.6)}input[type="radio"]:active:checked::-ms-check{border-color:rgba(0,0,0,0.6)}input[type="radio"][disabled]::-ms-check,fieldset[disabled] input[type="radio"]::-ms-check{background-color:#fff !important;color:rgba(0,0,0,0.2) !important;border-color:rgba(0,0,0,0.2) !important}input[type="radio"][disabled]:checked::-ms-check,fieldset[disabled] input[type="radio"]:checked::-ms-check{color:rgba(0,0,0,0.2) !important}input[type="checkbox"]{width:20px;height:20px}input[type="checkbox"]::-ms-check{border-style:solid;border-width:2px;background-color:transparent;color:#000;border-color:rgba(0,0,0,0.8)}input[type="checkbox"]:checked::-ms-check{background-color:#0078d7;border-color:#0078d7}input[type="checkbox"]:hover::-ms-check{border-color:#000}input[type="checkbox"]:active::-ms-check{background-color:rgba(0,0,0,0.6);border-color:transparent}input[type="checkbox"][disabled]::-ms-check,fieldset[disabled] input[type="checkbox"]::-ms-check{border-color:rgba(0,0,0,0.2) !important;background-color:transparent !important;color:rgba(0,0,0,0.2) !important}.form-group{margin-bottom:12px}.form-group label{margin-top:0;margin-bottom:8px}.radio,.checkbox{margin-top:12px;margin-bottom:12px}.radio label,.checkbox label{padding-right:28px}.radio input[type="radio"],.radio-inline input[type="radio"],.checkbox input[type="checkbox"],.checkbox-inline input[type="checkbox"]{position:absolute;margin-right:-28px}input[type="radio"][disabled],input[type="radio"].disabled,fieldset[disabled] input[type="radio"],input[type="checkbox"][disabled],input[type="checkbox"].disabled,fieldset[disabled] input[type="checkbox"]{cursor:not-allowed}input[type="radio"][disabled]+span,input[type="radio"].disabled+span,fieldset[disabled] input[type="radio"]+span,input[type="checkbox"][disabled]+span,input[type="checkbox"].disabled+span,fieldset[disabled] input[type="checkbox"]+span{color:rgba(0,0,0,0.2)}select{border:2px solid rgba(0,0,0,0.4);background-clip:padding-box;color:#000}select:focus{background-color:#3a96dd;outline:0}select:focus::-ms-value{background-color:#3a96dd;color:#000}select:focus option{background-color:#fff}select:hover{border-color:rgba(0,0,0,0.6)}select:active{background-color:#fff}select option:focus{background-color:#3a96dd}select option:checked{background-color:#3a96dd;color:#000}select option:active{background-color:#767676;color:#000}select option:not(:checked):hover{background-color:#c5e1f7}select option:not(:checked):active{background-color:#767676;color:#000}select[multiple]:focus{background-color:#fff}select[disabled],select.disabled,fieldset[disabled] select{cursor:not-allowed;background-color:rgba(0,0,0,0.2) !important;border-color:rgba(0,0,0,0.2) !important;color:rgba(0,0,0,0.6) !important}select[disabled] option:hover,select[disabled] option:focus,select[disabled] option:active,select.disabled option:hover,select.disabled option:focus,select.disabled option:active,fieldset[disabled] select option:hover,fieldset[disabled] select option:focus,fieldset[disabled] select option:active{background-color:transparent !important}::-ms-expand{margin:0 6px 0 20px;background-color:transparent;border:0}.btn-block{display:block;width:100%}.btn-block+.btn-block{margin-top:5px}input[type="submit"].btn-block,input[type="reset"].btn-block,input[type="button"].btn-block{width:100%}.btn,button,input[type="button"],input[type="submit"],input[type="reset"]{display:inline-block;min-width:100px;padding:4px 12px 4px 12px;margin-top:4px;margin-bottom:4px;position:relative;max-width:100%;text-align:center;white-space:nowrap;overflow:hidden;vertical-align:middle;text-overflow:ellipsis;touch-action:manipulation;color:#000;border-style:solid;border-width:2px;border-color:transparent;background-color:rgba(0,0,0,0.2)}.btn:hover,.btn:focus,button:hover,button:focus,input[type="button"]:hover,input[type="button"]:focus,input[type="submit"]:hover,input[type="submit"]:focus,input[type="reset"]:hover,input[type="reset"]:focus{border-color:rgba(0,0,0,0.4)}.btn:hover,button:hover,input[type="button"]:hover,input[type="submit"]:hover,input[type="reset"]:hover{cursor:pointer}.btn:active,button:active,input[type="button"]:active,input[type="submit"]:active,input[type="reset"]:active{background-color:rgba(0,0,0,0.4);border-color:transparent}.btn.btn-primary,button.btn-primary,input[type="button"].btn-primary,input[type="submit"].btn-primary,input[type="reset"].btn-primary{background-color:#0078d7;border-color:#0078d7;color:#fff}.btn.btn-primary:hover,.btn.btn-primary:focus,button.btn-primary:hover,button.btn-primary:focus,input[type="button"].btn-primary:hover,input[type="button"].btn-primary:focus,input[type="submit"].btn-primary:hover,input[type="submit"].btn-primary:focus,input[type="reset"].btn-primary:hover,input[type="reset"].btn-primary:focus{border-color:#004e8c}.btn.btn-primary:active,button.btn-primary:active,input[type="button"].btn-primary:active,input[type="submit"].btn-primary:active,input[type="reset"].btn-primary:active{background-color:rgba(0,0,0,0.4);border-color:transparent}.btn.disabled,.btn[disabled],fieldset[disabled] .btn,button.disabled,button[disabled],fieldset[disabled] button,input[type="button"].disabled,input[type="button"][disabled],fieldset[disabled] input[type="button"],input[type="submit"].disabled,input[type="submit"][disabled],fieldset[disabled] input[type="submit"],input[type="reset"].disabled,input[type="reset"][disabled],fieldset[disabled] input[type="reset"]{cursor:not-allowed;pointer-events:none;outline:none;color:rgba(0,0,0,0.2) !important;border-color:transparent !important;background-color:rgba(0,0,0,0.2) !important}a.btn:link,a.btn:visited{color:#000}a.btn.btn-primary:link,a.btn.btn-primary:visited{color:#fff}.section{margin-top:30px;margin-bottom:30px}@media (min-width:320px){.section{margin-top:42px;margin-bottom:42px}}.section .section-header{padding-bottom:10px;border-bottom:1px solid #e6e6e6;margin-bottom:16px}@media (min-width:320px){.section .section-header{margin-bottom:32px}}.section .section-title{display:block;margin-top:0;margin-bottom:0;font-size:15px;line-height:20px;font-weight:600;font-size:.9375rem;line-height:1.25rem;padding-bottom:.227px;padding-top:.227px;color:#000}.section .section-title.text-maxlines-1{white-space:nowrap;text-overflow:ellipsis;max-height:20.454px;max-height:1.27838rem}.section .section-title.text-maxlines-2{max-height:40.454px;max-height:2.52838rem}.section .section-title.text-maxlines-3{max-height:60.454px;max-height:3.77838rem}.section .section-title.text-maxlines-4{max-height:80.454px;max-height:5.02838rem}@media (min-width:320px){.section .section-title{font-size:24px;line-height:28px;font-weight:300;font-size:1.5rem;line-height:1.75rem;padding-bottom:2.3632px;padding-top:2.3632px}.section .section-title.text-maxlines-1{white-space:nowrap;text-overflow:ellipsis;max-height:32.7264px;max-height:2.0454rem}.section .section-title.text-maxlines-2{max-height:60.7264px;max-height:3.7954rem}.section .section-title.text-maxlines-3{max-height:88.7264px;max-height:5.5454rem}.section .section-title.text-maxlines-4{max-height:116.7264px;max-height:7.2954rem}}.section .section-subtitle{display:block;font-size:15px;line-height:20px;font-weight:400;font-size:.9375rem;line-height:1.25rem;padding-bottom:.227px;padding-top:.227px;color:#767676}.section .section-subtitle.text-maxlines-1{white-space:nowrap;text-overflow:ellipsis;max-height:20.454px;max-height:1.27838rem}.section .section-subtitle.text-maxlines-2{max-height:40.454px;max-height:2.52838rem}.section .section-subtitle.text-maxlines-3{max-height:60.454px;max-height:3.77838rem}.section .section-subtitle.text-maxlines-4{max-height:80.454px;max-height:5.02838rem}.section p{margin-top:12px;margin-bottom:12px}.section p .more-container{display:block;margin-top:6px}.section .btn-group{margin-top:20px;margin-bottom:20px}.caret{display:inline-block;width:0;height:0;margin-left:2px;vertical-align:middle;border-top:4px solid;border-right:4px solid transparent;border-left:4px solid transparent}.dropdown{position:relative}.dropdown-toggle:focus{outline:0}.dropdown-menu{position:absolute;top:100%;left:0;z-index:1000;display:none;float:left;min-width:160px;padding:5px 0;margin:2px 0 0;list-style:none;font-size:14px;text-align:left;background-color:#fff;border:1px solid #ccc;border:1px solid rgba(0,0,0,0.15);border-radius:4px;-webkit-box-shadow:0 6px 12px rgba(0,0,0,0.175);box-shadow:0 6px 12px rgba(0,0,0,0.175);background-clip:padding-box}.dropdown-menu.pull-right{right:0;left:auto}.dropdown-menu .divider{height:1px;margin:9px 0;overflow:hidden;background-color:#e5e5e5}.dropdown-menu>li>a{display:block;padding:3px 20px;clear:both;font-weight:normal;line-height:1.42857;color:#333;white-space:nowrap}.dropdown-menu>li>a:hover,.dropdown-menu>li>a:focus{text-decoration:none;color:#262626;background-color:#f5f5f5}.dropdown-menu>.active>a,.dropdown-menu>.active>a:hover,.dropdown-menu>.active>a:focus{color:#fff;text-decoration:none;outline:0;background-color:#428bca}.dropdown-menu>.disabled>a,.dropdown-menu>.disabled>a:hover,.dropdown-menu>.disabled>a:focus{color:#777}.dropdown-menu>.disabled>a:hover,.dropdown-menu>.disabled>a:focus{text-decoration:none;background-color:transparent;background-image:none;filter:progid:DXImageTransform.Microsoft.gradient(enabled=false);cursor:not-allowed}.open>.dropdown-menu{display:block}.open>a{outline:0}.dropdown-menu-right{left:auto;right:0}.dropdown-menu-left{left:0;right:auto}.dropdown-header{display:block;padding:3px 20px;font-size:12px;line-height:1.42857;color:#777;white-space:nowrap}.dropdown-backdrop{position:fixed;left:0;right:0;bottom:0;top:0;z-index:990}.pull-right>.dropdown-menu{right:0;left:auto}.dropup .caret,.navbar-fixed-bottom .dropdown .caret{border-top:0;border-bottom:4px solid;content:""}.dropup .dropdown-menu,.navbar-fixed-bottom .dropdown .dropdown-menu{top:auto;bottom:100%;margin-bottom:1px}[data-toggle="buttons"]>.btn input[type="radio"],[data-toggle="buttons"]>.btn input[type="checkbox"],[data-toggle="buttons"]>.btn-group>.btn input[type="radio"],[data-toggle="buttons"]>.btn-group>.btn input[type="checkbox"]{position:absolute;clip:rect(0, 0, 0, 0);pointer-events:none}.btn-group:before,.btn-group:after{content:" ";display:table}.btn-group:after{clear:both}.btn-group .btn{float:right;margin-left:4px}.input-group{position:relative;display:table;border-collapse:separate}.input-group[class*="col-"]{float:none;padding-left:0;padding-right:0}.input-group .form-control{position:relative;z-index:2;float:left;width:100%;margin-bottom:0}.input-group-addon,.input-group-btn,.input-group .form-control{display:table-cell}.input-group-addon:not(:first-child):not(:last-child),.input-group-btn:not(:first-child):not(:last-child),.input-group .form-control:not(:first-child):not(:last-child){border-radius:0}.input-group-addon,.input-group-btn{width:1%;white-space:nowrap;vertical-align:middle}.input-group-addon{padding:6px 12px;font-size:14px;font-weight:normal;line-height:1;color:#555;text-align:center;background-color:#eee;border:1px solid #ccc;border-radius:4px}.input-group-addon.input-sm,.input-group-sm>.input-group-addon,.input-group-sm>.input-group-btn>.input-group-addon.btn{padding:5px 10px;font-size:12px;border-radius:3px}.input-group-addon.input-lg,.input-group-lg>.input-group-addon,.input-group-lg>.input-group-btn>.input-group-addon.btn{padding:10px 16px;font-size:18px;border-radius:6px}.input-group-addon input[type="radio"],.input-group-addon input[type="checkbox"]{margin-top:0}.input-group .form-control:first-child,.input-group-addon:first-child,.input-group-btn:first-child>.btn,.input-group-btn:first-child>.btn-group>.btn,.input-group-btn:first-child>.dropdown-toggle,.input-group-btn:last-child>.btn:not(:last-child):not(.dropdown-toggle),.input-group-btn:last-child>.btn-group:not(:last-child)>.btn{border-bottom-right-radius:0;border-top-right-radius:0}.input-group-addon:first-child{border-right:0}.input-group .form-control:last-child,.input-group-addon:last-child,.input-group-btn:last-child>.btn,.input-group-btn:last-child>.btn-group>.btn,.input-group-btn:last-child>.dropdown-toggle,.input-group-btn:first-child>.btn:not(:first-child),.input-group-btn:first-child>.btn-group:not(:first-child)>.btn{border-bottom-left-radius:0;border-top-left-radius:0}.input-group-addon:last-child{border-left:0}.input-group-btn{position:relative;font-size:0;white-space:nowrap}.input-group-btn>.btn{position:relative}.input-group-btn>.btn+.btn{margin-left:-1px}.input-group-btn>.btn:hover,.input-group-btn>.btn:focus,.input-group-btn>.btn:active{z-index:2}.input-group-btn:first-child>.btn,.input-group-btn:first-child>.btn-group{margin-right:-1px}.input-group-btn:last-child>.btn,.input-group-btn:last-child>.btn-group{margin-left:-1px}.alert{margin-bottom:8px;margin-top:8px}.alert-error{color:#e81123}.modal-open{overflow:hidden}.modal{display:none;overflow:hidden;position:fixed;top:0;right:0;bottom:0;left:0;z-index:1040;-webkit-overflow-scrolling:touch;outline:0}.modal-open .modal{overflow-x:hidden;overflow-y:auto}.modal-dialog{position:relative;width:auto}.modal-content{position:relative;background-color:#fff;background-clip:padding-box;outline:0}.modal-backdrop{position:fixed;top:0;right:0;bottom:0;left:0;background-color:#000}.modal-backdrop.fade{opacity:0;filter:alpha(opacity=0)}.modal-backdrop.in{opacity:.5;filter:alpha(opacity=50)}.modal-header{min-height:16.42857px}.modal-title{margin:0;line-height:1.42857}.modal-body{position:relative}.modal-footer:before,.modal-footer:after{content:" ";display:table}.modal-footer:after{clear:both}.modal-scrollbar-measure{position:absolute;top:-9999px;width:50px;height:50px;overflow:scroll}@media (min-width:540px){.modal-dialog{width:600px}.modal-sm{width:300px}}@media (min-width:768px){.modal-lg{width:900px}}.modal .modal-dialog{margin:50vh auto;-webkit-transform:translate(0, -50%);-ms-transform:translate(0, -50%);-o-transform:translate(0, -50%);transform:translate(0, -50%);border:2px solid #0078d7}.modal .modal-content{padding:16px}.modal p:first-child{margin-top:0}.modal .btn{width:calc(48%)}.modal .btn:last-child{margin-right:0}.modal .btn:only-child{float:right}.modal .modal-footer{margin-top:24px}.tooltip{position:absolute;z-index:1070;display:block;visibility:visible}.tooltip-inner{text-decoration:none}.tooltip .tooltip-inner{background:#f2f2f2;color:#000;border:1px solid #ccc;padding:5px 8px 7px 8px;max-width:320px}.hide{display:none !important}.show{display:block !important}.hidden{display:none !important;visibility:hidden !important}.pull-right{float:left !important}.pull-left{float:right !important}@-ms-viewport{width:device-width}.container,.container-fluid{width:100%}.IE_M9 select,.IE_M9 select option:checked{background-color:#fff !important}.IE_M8 select{background-color:#fff !important}body.IE_M7.rtl{font-family:"Segoe UI","Ebrima","Nirmala UI","Gadugi","Segoe Xbox Symbol","Segoe UI Symbol","Meiryo UI","Khmer UI","Tunga","Lao UI","Raavi","Iskoola Pota","Latha","Leelawadee","Microsoft YaHei UI","Microsoft JhengHei UI","Malgun Gothic","Estrangelo Edessa","Microsoft Himalaya","Microsoft New Tai Lue","Microsoft PhagsPa","Microsoft Tai Le","Microsoft Yi Baiti","Mongolian Baiti","MV Boli","Myanmar Text","Cambria Math"}.IE_M7 .c_inmiddle_area{padding-bottom:20px}.IE_M7 .row,.IE_M7 div#iShowSendHolder{clear:both}.IE_M7 ul{margin-left:0}.IE_M7 .modal .modal-content{padding-bottom:50px}.IE_M7 input[type="button"],.IE_M7 input[type="submit"],.IE_M7 button,.IE_M7 input[type="button"].btn,.IE_M7 input[type="submit"].btn,.IE_M7 button.btn{line-height:142%;overflow:visible}.IE_M7 input[type="text"],.IE_M7 input[type="tel"],.IE_M7 input[type="password"]{width:280px;height:18px;border-color:#ccc}.IE_M7 select{width:300px;background-color:#fff !important}.IE_M7 select#BirthMonth{width:120px}.IE_M7 select#BirthDay{width:85px}.IE_M7 select#BirthYear{width:85px}.IE_M7 div#BirthMonthContainer{float:right}.IE_M7 div#BirthDayContainer{float:right}.IE_M7 div#BirthYearContainer{float:right}.IE_M7 div.input-group{float:right;z-index:5000}.IE_M7 div.input-group button,.IE_M7 div.input-group button.btn{overflow:hidden}.IE_M7 div.input-group label.input-group-addon{width:auto;float:left}.IE_M7 div.input-group div.input-group-btn{float:left}.IE_M7 .btn-block,.IE_M7 INPUT[type='submit'].btn-block{width:auto}.IE_M7 label.input-group-addon,.IE_M8 label.input-group-addon{border-color:#000}.IE_M7 .btn,.IE_M8 .btn{background-color:#ccc}.Notification,div.proofbox{margin:auto;padding:1em 1em;background-color:#e7e7e7}div.proofbox{margin-bottom:20px}@media (min-width:540px){.modal-dialog{width:530px}}@media (min-width:768px){.modal-lg{width:760px}}.text-caption{margin:.5rem 0 .5rem 0;margin:8px 0 8px 0}select{padding-top:3px;padding-bottom:3px;padding-left:6px}select.has-error{border-color:#e81123}.section{margin-top:0}.section .section-header{margin-bottom:0}.section .section-title{font-size:1.25rem}.hipSection.xbox360Hip .hipInputText{width:282px !important;position:absolute;top:40px;text-align:left !important;ime-mode:auto !important;-ms-ime-mode:auto !important}.hipSection.xbox360Hip img{width:255px !important;height:88px !important;top:0;left:300px;position:absolute;padding-left:.8em !important}.hipSection.xbox360Hip .hipLinkText{font-size:20px}.hipSection.xbox360Hip img.cssWLSPHIPAudio{width:100px !important;height:60px !important;top:0;left:300px;position:absolute;padding-left:2.8em !important}.hipSection.xbox360Hip{height:88px}#hipControlSection table{width:100% !important}#hipControlSection table[role=form]{width:100% !important;max-width:390px}.hipSection .hipInputText{width:100% !important;max-width:390px}textarea{width:100%}btn.dropdown-toggle{border-color:rgba(0,0,0,0.4)}.input-group-btn.focus-border-color .dropdown-toggle{border-color:#0078d7}.bulleted-list{padding-right:40px;list-style-type:disc}body{direction:rtl}body #maincontent,body .pageSectionContainer,body #c_content{margin:0 auto}body #maincontent{width:90%;min-height:400px}.ltr_override,.dirltr{direction:ltr}.Notification,.c_inmiddle_area{max-width:1180px}.mw1600 .Notification,.mw1600 .c_inmiddle_area{max-width:1600px}.c_inmiddle_area{margin-bottom:20px}.input-max-width{max-width:640px}label.label-margin{margin-top:0;margin-bottom:8px}label.input-group-addon{border-width:2px;background-color:transparent;border-color:rgba(0,0,0,0.4)}label.disabled{border:0;background-color:rgba(0,0,0,0.2) !important}label.input-group-addon.focus-border-color{border-color:#0078d7}label.focus-border-color.input-group-addon.has-error,label.input-group-addon.has-error{border-color:#e81123}button.dropdown-toggle{margin-top:0;margin-bottom:0;height:32px;border-color:rgba(0,0,0,0.4);border-left-width:0;min-width:0}.noRightBorder{border-right:0 !important}.noLeftBorder{border-left:0 !important}.bold{font-weight:600}.modal-header h4.UserTitle,.wrap-content{word-wrap:break-word}label.placeholder{display:none !important}input[type=radio].inlineRadio{margin:0}.recoveryCancelPrintLink{margin-right:15px}.recoveryCancelPadBelow{margin-bottom:20px;margin-bottom:1.25rem}.text-base.recoveryCancelProofLabel{margin-bottom:0}.recoveryCancelProofText{color:rgba(0,0,0,0.6)}.apppassword{font-size:120%}.ImeDisabled{ime-mode:inactive}.email-input-max-width{max-width:390px}.Hide{display:none}.hideHipErrorImage{display:none !important}.consetManageServiceLeft{margin-top:6px;float:right}.consetManageServiceRight{float:right;width:280px;margin-right:20px}.consentManageServiceImg{width:40px}.consetOfferActions{list-style-type:none;width:540px;margin:0;padding:0}.consentOfferActionLeft{float:right;padding-left:15px}.consetOfferActionRight{float:right;width:480px}span.linkSeparator{padding-left:4px;padding-right:4px}.padded{padding-top:9px;padding-bottom:9px}.toppadded{padding-top:9px}.bottompadded{padding-bottom:9px}.consentWebTitleIcon{margin-top:6px}.leftmargin{margin-right:9px}.noTopMargin{margin-top:0}.rightPadding{padding-left:9px}.text-secondary{color:#505050;color:rgba(80,80,80,0.6);font-size:13px}.validationMessage{display:none}.floatLeft{float:right}body.cb .modalDialogContainer{position:fixed;top:60px;max-width:356px;width:83%;width:calc(62%);max-height:80%;margin-left:-2px;margin-right:-2px;border:1px solid #0078d7;background-color:#fff;z-index:50001;overflow:auto;overflow-x:hidden}body.cb .modalDialogOverlay{position:fixed;top:0;left:0;width:100%;height:100%;background-color:#000;opacity:.5;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";filter:alpha(opacity=50);z-index:50000}body.cb .modalDialogPadding{padding:11px 12px 12px 12px}body.cb modalDialogContent{width:100%;position:relative;margin:0 auto}.tilesContainer{margin-bottom:20px;margin-top:20px}.tilesContainer div.tile{width:100%;margin-bottom:8px}.tilesContainer div.tile-selected{background-color:#effbff !important}.tilesContainer div.tile-image{width:50px}.tilesContainer div.tile-image>img{height:46px;width:46px}.tilesContainer div.tile-image-large{margin:0 auto;width:100px}.tilesContainer div.tile-name{font-size:12px}.tilesContainer div.tile-type{color:#969696 !important;font-size:12px !important}.tilesContainer div.tile-merge{color:#0078d7 !important;font-size:40px !important;margin-bottom:20px;margin-top:12px}.tilesContainer div.tile{cursor:pointer}.tilesContainer div.tile:hover{background-color:#e6e6e6}.tilesContainer div.tile:focus,.tilesContainer div.tile:focus:hover,.tilesContainer div.tile:active{background-color:#effbff}.SF_iPhone.SF_M8 .smallDialogBox{padding-top:200px;padding-bottom:200px}.skypeDisclaimer{margin-top:2px;margin-left:5px}body.cb{text-align:center}body.cb #ftr{clear:both}body.cb #ftrLogo,.no-margin{margin:0}body.cb #ftrButton{margin-top:15px;margin-bottom:15px}body.cb div.footerNode{margin:4px 0}body.cb div.links a{margin-right:16px;margin-left:16px;white-space:nowrap}body.cb div.links a.first{padding-right:0}body.cb #maincontent,#iHostInline{max-width:384px;padding-left:12px;padding-right:12px}body.cb #iHostInline pre{white-space:pre-wrap;word-wrap:break-word;overflow-x:hidden}body.cb a{text-decoration:none}body.cb .radio,body.cb #TOUPrivacy,body.cb .text-block-body,body.cb .alert-error,body.cb .left{text-align:right}body.cb .img-centipede{width:100%;max-width:266px;height:auto}body.cb .waiting span{font-weight:bold}body.cb .waiting .waitingArea{display:inline-block;float:right;margin-left:10px;height:25px;width:25px}body.cb #ftrButton.skypeIconBtn button{background-color:transparent;border:0}body.cb #ftrButton.skypeIconBtn button span:not(.caret){width:64px;height:64px;display:inline-block}body.cb .btn.dropdown-toggle{background-color:transparent}body.cb.cbTheme_Skype #maincontent,body.cb.cbTheme_Skype #iHostInline{max-width:384px;padding-left:24px;padding-right:24px;padding-bottom:0}body.cb.cbTheme_Skype #iHostInline pre{white-space:pre-wrap;word-wrap:break-word;overflow-x:hidden}body.cb.cbTheme_Skype .btn:not(.dropdown-toggle),body.cb.cbTheme_Skype #hipTemplateContainer img{border-radius:25px}body.cb.cbTheme_Skype input[type="color"],body.cb.cbTheme_Skype input[type="date"],body.cb.cbTheme_Skype input[type="datetime"],body.cb.cbTheme_Skype input[type="datetime-local"],body.cb.cbTheme_Skype input[type="email"],body.cb.cbTheme_Skype input[type="month"],body.cb.cbTheme_Skype input[type="number"],body.cb.cbTheme_Skype input[type="password"],body.cb.cbTheme_Skype input[type="search"],body.cb.cbTheme_Skype input[type="tel"],body.cb.cbTheme_Skype input[type="text"],body.cb.cbTheme_Skype input[type="time"],body.cb.cbTheme_Skype input[type="url"],body.cb.cbTheme_Skype input[type="week"],body.cb.cbTheme_Skype select,body.cb.cbTheme_Skype .input-group-addon,body.cb.cbTheme_Skype .dropdown-toggle{border-top:0;border-left:0;border-right:0;outline:0;border-width:1px;border-bottom-style:solid}body.cb.cbTheme_Skype .btn:not(.dropdown-toggle){height:36px}body.cb.cbTheme_Skype .text-secondary{color:#fff;color:rgba(255,255,255,0.6)}body.cb.cbTheme_Skype option{color:#000}i,.TextItalic{font-style:normal}